{
    "trailingComma": "all",
    "tabWidth": 2,
    "semi": true,
    "singleQuote": false,
    "arrowParens": "always",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "endOfLine": "lf",
    "experimentalTernaries": false,
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": false,
    "printWidth": 80,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "singleAttributePerLine": false,
    "useTabs": false,
    "vueIndentScriptAndStyle": false
}