#security-statement-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#security-statement-overlay div {
  padding: 2rem;
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#security-statement-heading {
  margin-bottom: 2rem;
}

#security-statement-body {
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;
}
