/* FileUpload.css */
#upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#upload p {
  text-align: center;
  padding: 0;
}

#upload ul {
  list-style-type: none;
  padding: 0;
}

#upload ul li {
  margin: 5px 0;
}

#choose-file-button {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}

#upload-file-button {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.text-input {
  margin-bottom: 1rem;
}

.form-label {
  font-weight: 500;
}
