#record-group {
  padding: 1rem;
}

#button-group {
  position: relative;
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}

.button {
  margin: 0.5rem;
}

.recording-indicator {
  position: absolute;
  top: 22px;
  right: -12px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
  }
  70% {
    box-shadow: 0 0 0 8px rgba(255, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}
